.blog-card {
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    display: block;
    text-decoration: none !important;
    cursor: pointer;
    margin: 2rem 0;
}
.blog-post {
    margin: 2rem 0;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
}
.left-bar {
    background-color: rgb(41, 41, 41);
    color: white;
    padding: 2rem;
}
.main-container {
    background-color: #acabab;
}
.main-container a {
    color: #1d1d1d !important;
}
.pagination {
    margin: 2rem 0;
}
.pagination .step-links > * {
    background-color: white;
    margin: 0 1rem;
    border-radius: 1rem;
    padding: .5rem;
}